services:
  carrental.api:
    image: carrental-api-image
    container_name: carrental_api
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - GITHUB_USER=${GITHUB_USER}
        - GITHUB_TOKEN=${GITHUB_TOKEN}
    ports:
      - "8080:8080"
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - MongoDatabaseSettings__ConnectionString=${API_MONGO_CONN_STRING}
      - RabbitMQ__Host=rabbitmq
      - ConnectionStrings__DefaultConnection=${API_POSTGRES_CONN_STRING}
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  notificationservice.worker:
    image: notificationservice-worker-image
    container_name: notification_service
    build:
      context: ../NotificationService
      dockerfile: Dockerfile
      args:
        - GITHUB_USER=${GITHUB_USER}
        - GITHUB_TOKEN=${GITHUB_TOKEN}
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - MongoDbSettings__ConnectionString=${NOTIFIER_MONGO_CONN_STRING}
      - MongoDbSettings__DatabaseName=${NOTIFIER_MONGO_DB_NAME}
      - MongoDbSettings__CollectionName=${NOTIFIER_MONGO_COLLECTION_NAME}
      - RabbitMQ__Host=rabbitmq
      - SmtpSettings__Host=${SMTP_HOST}
      - SmtpSettings__Port=${SMTP_PORT}
      - SmtpSettings__Username=${SMTP_USER}
      - SmtpSettings__Password=${SMTP_PASS}
    depends_on:
      rabbitmq:
        condition: service_healthy

  postgres:
    image: postgres:16-alpine
    container_name: postgres_carrental
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_carrental
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  rabbitmq_data:
